[submodule "Ornn/vendor/spdlog"]
	path = Ornn/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Ornn/vendor/GLFW"]
	path = Ornn/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Ornn/vendor/ImGui"]
	path = Ornn/vendor/ImGui
	url = git@github.com:TheCherno/imgui.git
[submodule "Ornn/vendor/glm"]
	path = Ornn/vendor/glm
	url = https://github.com/g-truc/glm
